nav {
    background-color: #211710;
    display: flex;
    justify-content: space-around;
align-items: center;

    a {
       color: #FCE7E0; 
       text-decoration: none;

       
    }
    
}

.life-coaching-container, 
.personal-training-container, 
.spiritual-retreat-container {
    display: flex;
    justify-content: center;
    padding: 50px 60px; 
}

.coachtext, .traintext,
.spirittext {
    padding: 50px 60px;
    width: 40%;
}

.life-coaching-container {
    background-color: #D6D3CF;
    
   img {
        width: 30%;
        border-radius: 50%;
        box-shadow: 2px 2px 8px black;;
    }
}

.personal-training-container {
    background: rgb(33,23,16);
    background: linear-gradient(90deg, rgba(33,23,16,1) 0%, rgba(158,3,3,1) 20%, rgba(214,211,207,1) 100%);
   
    .traintext {
        text-align: right;
    }
    img {
        width: 30%;
        border-radius: 50%;
        box-shadow: 2px 2px 8px black;;

    }
}

.spiritual-retreat-container {
    background-color: #F7CDC0;
    img {
        width: 30%;
        border-radius: 50%;
        box-shadow: 2px 2px 8px black;;

    }
}