@import url('../normalize.css');
body {
    font-family: 'Open Sans', sans-serif;
    
}
//#006e7f, #00494f, #17a1ab #7f868e, #cacfd2

nav {
    background-color: #00494f;
    display: flex;
    justify-content: space-around;
    align-items: center;

    a {
       color: #cacfd2; 
       text-decoration: none;

       
    }
    
}

.background-image {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
  }


.life-coaching-container, 
.personal-training-container, 
.spiritual-retreat-container {
    display: flex;
    justify-content: center;
    padding: 100px 50px; 
    color: #00494F;

}

.coachtext, .traintext,
.spirittext {
    padding: 50px 60px;
    width: 40%;
}


    
   img {
        width: 30%;
        border-radius: 50%;
        box-shadow: 2px 2px 8px black;;
    }

    .traintext {
        text-align: right;
    }
    
    .photo-break {
        .quote{
        // width: 50%;
        color: black;
        font-size: 2rem;
        padding: 200px;
        text-align: center;
        // display: flex;
        // justify-content: center;
        // align-items: center;
        font-family: 'Arvo', serif;
        }

        background-image: url('images/boxing.jpg');
         opacity: 0.4;
         -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
         filter: grayscale(100%);
        background-size: cover;

}


.testimonials-carousel {
   
      text-align: center;

    .testimony {
       padding: 10px 200px;
    }
} 
footer {

    background-color: #17A1AB ;
    display: flex;
    justify-content: center;

}